/** Default Minima font - Manrope master */
@font-face {
  font-family: manrope-bold;
  src: url("./fonts/manrope-bold.otf");
}
@font-face {
  font-family: manrope-light;
  src: url("./fonts/manrope-light.otf");
}
@font-face {
  font-family: manrope-regular;
  src: url("./fonts/manrope-regular.otf");
}
body {
  font-family: manrope-regular;
  display: webkit box;
  display: webkit flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
#menu {
  background-color: #F0F0FA;
  width: 700px;
}
#menu #menu-content .card-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
}
#menu #menu-content .card-title div {
  width: 32.5% !important;
}
#menu #menu-content .card-title h4 {
  font-family: manrope-bold !important;
}
#menu .menuBtn {
  font-family: manrope-bold !important;
  font-size: 1.2rem !important;
  text-transform: none !important;
  background-color: #031B32 !important;
  color: #fff !important;
  font-weight: 500;
}
#menu .menuBtn:hover {
  background-color: #F65130 !important;
}
#menu #menu-content {
  background: transparent !important;
}
#menu #menu-content .card-action .row .col {
  margin-bottom: 3%;
}
#menu #menu-content .menuBtn.active {
  background-color: #F65130 !important;
}
#menu #menu-content .card-content {
  padding: 0 !important;
}
#b-title-wrap {
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 0;
  background-color: #031B32 !important;
}
#b-title-wrap .card-title {
  font-family: manrope-bold !important;
  padding-top: 3%;
  padding-left: 5%;
  padding-bottom: 1.5%;
}
#b-title-wrap .card-title #icon img {
  width: 65px;
  height: auto;
  padding-top: 0.3%;
  float: right;
  padding-right: 5%;
}
#b-title-wrap .card-title h4 {
  color: #fff !important;
  text-align: left;
  font-weight: 800;
  margin: 0 !important;
  padding: 0 !important;
}
#b-title-wrap .card-title h4 span {
  color: #F65130 !important;
  font-weight: 800;
}
#b-title-wrap .card-title h4 #demo {
  color: #fff !important;
  font-size: 1.2rem;
  font-weight: 800;
  padding-left: 1%;
}
#intro {
  text-align: left;
  padding: 0 5% 0 5%;
}
#intro h5 {
  font-family: manrope-bold !important;
  font-size: 1.3rem;
}
#intro p {
  font-size: 1.3rem;
  font-weight: 300;
  text-align: left;
}
#intro #myaddress-wrap {
  margin-top: 5%;
  margin-bottom: 5%;
}
#intro #myaddress {
  font-size: 1.2rem;
  padding: 2.5%;
  margin-bottom: 2%;
  word-wrap: break-word;
  white-space: normal;
  background-color: #fff !important;
  color: #548FFF !important;
}
#intro .genBtn {
  font-family: manrope-bold !important;
  font-size: 1.2rem !important;
  text-transform: none !important;
  color: #fff !important;
  text-overflow: ellipsis;
  white-space: pre-wrap;
  word-break: keep-all;
  background-color: #548FFF !important;
}
#intro #genBtn-wrap .col {
  padding: 0;
}
#intro #genBtn-wrap .col p {
  font-weight: 400;
  height: auto;
}
#intro #genBtn-wrap .col {
  height: 40px;
}
#intro .card-action {
  border-top: 2px solid black;
}
#intro #blocktime {
  font-weight: 800 !important;
}
#intro #yourbalance {
  font-weight: 800 !important;
}
.card-action {
  border-top-color: #455969 !important;
  margin: 0 !important;
  padding: 0 !important;
  height: 30px;
}
.card-action #yourbalance, .card-action #blocktime {
  padding-top: 5%;
  font-size: 1.0rem;
  letter-spacing: 0.02em;
}
.card-action .baldiv {
  font-family: manrope-bold !important;
  font-size: 1.2rem !important;
  padding-left: 10%;
  font-weight: 600;
  letter-spacing: -0.02em;
  text-align: left !important;
  font-variant-numeric: oldstyle-nums;
}
.card-action .timediv {
  font-family: manrope-bold !important;
  font-size: 1.2rem !important;
  padding-right: 10%;
  font-weight: 600;
  text-align: right !important;
  font-variant-numeric: oldstyle-nums;
}
#sendcash {
  padding: 0 3% 0 15%;
}
#sendcash .col {
  padding-left: 0 !important;
}
#sendcash h6 {
  font-family: manrope-bold;
  font-size: 1.2rem !important;
  position: relative !important;
}
#sendcash .collection {
  background: inherit !important;
  background-color: transparent !important;
}
#sendcash .collection .collection-item {
  background: inherit !important;
  border: none !important;
}
#sendcash input { 
  padding-left: 2%;
  background-color: #fff !important;
  word-break: break-all;
  white-space: normal;
  border: none !important;
}
#sendcash .collection .collection-item div {
  font-weight: 600;
}
#sendcash .sendBtn {
  background-color: #317AFF !important;
  color: #fff !important;
  text-transform: none;
}

#mycash {
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
}
#mycash #futuretable {
  margin-top: 1.8%;
}
#mycash #futuretable thead tr th {
  padding: 0.5%;
  font-size: 1.2rem;
  text-align: center;
  text-transform: none !important;
  font-family: manrope-bold !important;

  width: 120px;
  border-left: 1px solid #fff;
  background-color: #91919D;
  color: #fff !important;
}
#mycash #futuretable tbody tr td {
  font-weight: 500;
  background-color: #fff !important;
  letter-spacing: 0.02em;
  text-align: center;
  padding: 0.5% !important;
  font-variant-numeric: tabular-nums;
}
#mycash .collect {
  background-color: #317AFF !important;
  color: #fff;
}
#mycash button {
  width:100%;
}
#modalSendFunds h4 {
  font-size: 1.3rem;
  font-weight: 400;
  letter-spacing: -0.02em;
}
#modalSendFunds p {
  font-size: 1.1rem;
}
#modalSendFunds #yesBtn {
  color: #548FFF !important;
  font-size:1.2rem;
}
#modalSendFunds a {
  color: #F65130;
}






/** Date picker/time picker */

.datepicker-date-display {
  background-color: rgb(49,122,255) !important;
}
.datepicker-canvas-bg {
  fill: rgb(49,122,255) !important;
}

.timepicker-digital-display {
  background-color: rgb(49,122,255) !important;
}