/** Default Minima font - Manrope master */
@font-face {
  font-family: manrope-bold;
  src: url("./fonts/manrope-bold.otf");
}
@font-face {
  font-family: manrope-light;
  src: url("./fonts/manrope-light.otf");
}
@font-face {
  font-family: manrope-regular;
  src: url("./fonts/manrope-regular.otf");
}
#menu {
  background-color: #F0F0FA;
  max-width: 700px;
  height: 65vh;
}
#menu #b-title-wrap {
  margin-bottom: 1%;
}
#menu #menu-content {
  width: 100%;
  height: 40vh;
  overflow: scroll;
}
#menu .menu-header {
  position: relative;
  top: 0;
}
#menu .menu-footer {
  position: relative;
  bottom: 0;
}
@media only screen and (max-width: 600px) {
  #menu {
    height: 100%;
    width: 100%;
  }
  #menu #menu-content {
    height: 70vh;
  }
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}
body {
  background-color: #031B32;
  font-family: manrope-regular;
  display: webkit box;
  display: webkit flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
#menu #buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
}
#menu #buttons .menuBtn {
  margin-top: 5px;
  width: 32.5% !important;
}
#menu .card-title h4 {
  font-family: manrope-bold !important;
}
#menu .menuBtn, #menu .menuBtn2 {
  font-family: manrope-bold !important;
  font-size: 1.2rem !important;
  text-transform: none !important;
  background-color: #031B32 !important;
  color: #fff !important;
  font-weight: 500;
}
#menu .menuBtn:hover, #menu .menuBtn2:hover {
  background-color: #F65130 !important;
}
#menu #menu-content {
  background: transparent !important;
}
#menu .menuBtn.active {
  background-color: #F65130 !important;
}
#menu #menu-content .card-content {
  padding: 0 !important;
}
#b-title-wrap {
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 0;
  background-color: #031B32 !important;
}
#b-title-wrap {
  font-family: manrope-bold !important;
  padding-top: 3%;
  padding-left: 5%;
  padding-bottom: 1.5%;
}
#b-title-wrap #icon {
  width: 75px;
  height: 4vh;
  float: right;
  position: absolute;
  right: 7%;
}
@media only screen and (max-width: 399px) {
  #icon {
    width: 25px !important;
    height: 0vh;
  }
}
@media only screen and (max-width: 355px) {
  #icon {
    display: none;
  }
}
#b-title-wrap  h4 {
  color: #fff !important;
  text-align: left;
  font-weight: 800;
  margin: 0 !important;
  padding: 0 !important;
}
#b-title-wrap h4 span {
  color: #F65130 !important;
  font-weight: 800;
}
#b-title-wrap  h4 #demo {
  color: #fff !important;
  font-size: 1.2rem;
  font-weight: 800;
  padding-left: 1%;
}
#intro {
  text-align: left;
  padding: 0 5% 0 5%;
}
#intro h5 {
  font-family: manrope-bold !important;
  font-size: 1.3rem;
}
#intro p {
  font-size: 1.3rem;
  font-weight: 300;
  text-align: left;
}
#intro #myaddress-wrap {
  margin-top: 5%;
  margin-bottom: 5%;
}
#intro #myaddress {
  font-size: 1.2rem;
  padding: 2.5%;
  margin-bottom: 2%;
  word-wrap: break-word;
  white-space: normal;
  background-color: #fff !important;
  color: #548FFF !important;
}
#sendcash .genBtn {
  font-family: manrope-bold !important;
  font-size: 1.2rem !important;
  text-transform: none !important;
  color: #fff !important;
  text-overflow: ellipsis;
  white-space: pre-wrap;
  word-break: keep-all;
  width: 76%;
  background-color: #317AFF !important;
}
#sendcash .genBtn2 {
  font-family: manrope-bold !important;
  font-size: 1.2rem !important;
  text-transform: none !important;
  color: #fff !important;
  text-overflow: ellipsis;
  white-space: pre-wrap;
  word-break: keep-all;
  width: 90%;
  margin-left: 12%;
  background-color: #317AFF !important;
}
#sendcash #genBtn-wrap .col {
  padding: 0;
}
#sendcash #genBtn-wrap .col p {
  font-weight: 400;
  height: auto;
}
#sendcash #genBtn-wrap .col {
  height: 40px;
}

#menu .menu-footer {
  border-top: 2px solid #455969 !important;
  border-top-color: #455969 !important;
  margin: 0 !important;
  padding: 0 !important;
  height: 30px;
}
.menu-footer #yourbalance, .menu-footer #blocktime {
  padding-top: 5%;
  font-size: 1.0rem;
  letter-spacing: 0.02em;
}
.menu-footer .baldiv {
  font-family: manrope-bold !important;
  font-size: 1.2rem !important;
  padding-left: 10%;
  font-weight: 600;
  letter-spacing: -0.02em;
  text-align: left !important;
  font-variant-numeric: oldstyle-nums;
}
.menu-footer .timediv {
  font-family: manrope-bold !important;
  font-size: 1.2rem !important;
  padding-right: 10%;
  font-weight: 600;
  text-align: right !important;
  font-variant-numeric: oldstyle-nums;
}
#sendcash {
  padding: 1% 4% 0 15%;
}
#sendcash .col {
  padding-left: 0 !important;
}
#sendcash h6 {
  font-family: manrope-bold;
  font-size: 1.2rem !important;
  position: relative !important;
}
#sendcash .collection {
  background: inherit !important;
  background-color: transparent !important;
}
#sendcash .collection .collection-item {
  background: inherit !important;
  border: none !important;
}
#sendcash #amount {
  padding-right: 1%;
}
#sendcash #futurekey {
  padding-right: 1%;
}
#sendcash input { 
  padding-right: 1.75%;
  background-color: #fff !important;
  height: 36px;
  word-break: break-all;
  white-space: normal;
  border: none !important;
}
#sendcash .collection .collection-item div {
  font-weight: 600;
}
#sendcash .sendBtn {
  background-color: #317AFF !important;
  color: #fff !important;
  width: 76% !important;
  text-transform: none;
  font-size: 1.2rem;
  font-family: manrope-bold !important;
}

#mycash {
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
}
#mycash #futuretable {
  margin-top: 1.8%;
  width: 100%;
  position: relative;
}
#mycash #futuretable thead tr th {
  padding: 0.5%;
  font-size: 1.2rem;
  text-align: center;
  text-transform: none !important;
  font-family: manrope-bold !important;

  position: sticky;
  width: 120px;
  background-color: #91919D;
  color: #fff !important;
}
#mycash #futuretable thead tr #th-amnt {
  border-left: none !important;
  border-right: 8px solid #F0F0FA;
}
#mycash #futuretable thead tr #th-time {
  border-right: 8px solid #F0F0FA;
}
.collect {
  font-family: manrope-bold !important;
  max-height: auto;
}
#mycash #futuretable tbody tr td .wrap {
  text-align: right; 
  display: inline-block;
  min-width: 67px;
}
#mycash #futuretable tbody tr .futurecash {
  text-align: center;
  max-width: 45px;
  max-height: 50px;
  background-color: #fff !important;
  padding: 1% !important;
  font-family: manrope-bold !important;
  font-variant-numeric: tabular-nums;
}
.progress {
  position: sticky;
  top :0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

#futurecashbtn {
  cursor: pointer;
}
#mycash .collect {
  background-color: #317AFF !important;
  color: #fff;
}
#mycash button {
  width:100%;
}
#modalSendFunds h4 {
  font-size: 1.3rem;
  font-weight: 400;
  letter-spacing: -0.02em;
}
#modalSendFunds p {
  font-size: 1.1rem;
}
#modalSendFunds #yesBtn {
  color: #548FFF !important;
  font-size:1.2rem;
}
#modalSendFunds a {
  color: #F65130;
}




/** Toast */
.success {
  background-color: #548FFF !important;
}
.ready {
  background-color: #548FFF !important;
  font-family: manrope-bold;
}
.miningstarted {
  background-color: #548FFF !important;
  font-family: manrope-bold;
  height: 150px;
}
.miningstop {
  background-color: rgb(246,81,48) !important;
  font-family: manrope-bold;
  height: 150px;
}
/** Date picker/time picker */

.datepicker-date-display {
  background-color: #031B32 !important;
}
.datepicker-canvas-bg {
  fill: #031B32 !important;
}

.timepicker-digital-display {
  background-color: #031B32 !important;
}

